<h1 class="inline-block">Your localhost:<span class="span1">AD</span><span class="span2">80</span></h1>
<nav class="inline-block">
    <span><a routerLink="/" routerLinkActive="active"> Home</a></span>
    <span>|</span>
    <span><a routerLink="/works" routerLinkActive="active"> Stuff</a></span>
    <span>|</span>
    <span><a routerLink="/about" routerLinkActive="active"> About</a></span>
</nav>
<!-- <div class="icon-links inline-block">
    <mat-icon aria-hidden="false" aria-label="">home</mat-icon>
</div> -->
<mat-divider></mat-divider>